.avatar {
  width: 30px;
  border-radius: 50%; //standardize border radius?
}
.avatar-large {
  width: 50px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 30px;
  border-radius: 50%;
  box-shadow: $base-shadow;
  border: white 1px solid;
}
.avatar-square {
  width: 30px;
  border-radius: 0px;
  box-shadow: $base-shadow;
  border: white 1px solid;
}
