<div class="wrapper">
  <div class="container">
    <div class="row">
      <% data.team.each do |member, infos|%>
      <div class="col-md-4">
        <div class="card" >
          <h2 class="card-description"><%= member.capitalize %></h2>
          <%= image_tag infos.picture, class:"avatar-large card-user" %>
        </div>
      </div>
      <%end %>

    </div>
  </div>
</div>

